@media (min-width: 992px) {

  .wideAbout{
     background-image: url('./imgs/Story/hp_story-banner.jpg');
       background-size: cover; 
      background-repeat: no-repeat;
      /*background-size: contain;*/
      /* left: 62px; */
      /* position: relative; */
      /* left: -73px; */
      background-position: center;
      height: 502px;
  }


}