
.wpcf7-submit {


    border-radius: 0px !important;
    font-size: 25px !important;
    letter-spacing: 2px;
    font-family: lato;
    font-style: normal;
    float: right;

}

.inquiriesContainer {
    
    padding: 36px;
    letter-spacing: 2px;
    color: #827f73;
    margin-top: 1%;

}

.contactUsUnderBannerText{

  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 2%;
}

.contactUsUnderBannerText > h1{

  font-size: 51px;
}

.inquiriesLabel{

  font-size: 27px;
}

.inquiriesText{
  font-size: 18px;
}

.contactFormAndTextContainer{

  margin-top: 3%;
}

textarea {
    width: 20em;
    height: 3em;
}

form{
      text-align: left;
      font-family: lato;
      font-style: normal;
      width: 114%;

}

form > p{

      padding: 15px;

}

input{
  width: 20em;
}

.wpcf7-submit{
  width: 10em;
  float: right;
}

/*DESKTOP*/

@media (min-width: 992px) {

  

}