
.wpcf7-submit {


    border-radius: 0px !important;
    font-size: 25px !important;
    letter-spacing: 2px;
    font-family: lato;
    font-style: normal;
    float: right;

}

/*DESKTOP*/

@media (min-width: 992px) {

  

}