
.navbar-toggle{
  float: left;
}

.navbar-toggle .icon-bar {
    background: grey;
}

/*DESKTOP*/

@media (min-width: 992px) {

  .menu-header{
    text-align: center;

  }
  .menu-header > ul {
    list-style-type: none;
  }
  .widthNav{
    width:100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
  }
  .navbar-header{
    /*margin-left: 45% !important;*/
}

  
  .desktopTransparent{
    background-color: transparent;
  }

  

  .pageContainer{
    /*margin-top: -73px;*/
  }
  
  .showNav{
        display: show;
        background-color: white;
     }

  .page > h1, .page > h2 {
    display: none;
  }
  
  .navRight{
    float: right;
  }

  .navRight > ul > li > a{
    color: #7b7370;
  }
  .cartMenu{
    text-align: center;
    background-color: #e8e6dc;
    padding: 7px;
  }
  .menu-header{
    display: table;
    width: 100%;
  }
  #menu-harvest-menu{
        display: table-header-group;
  }
  #menu-harvest-menu > li{
    display: table-cell;
  }
#menu-item-51{
    width: 92%;
  }
#menu-item-51 > a {
  margin-left: 12%;
}


}